*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fields{
    padding: 5px;
}

.form_buttons{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: purple;
    color: white;
}
.form_buttons:hover{
    background-color: violet;
}