.forms{
    padding: 10px;
    padding-left: 20px;
}

button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

button:hover{
    background-color: gray;
}