<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/user.css') }}">
</head>

<body>
    <h1>List of Users</h1>
    {% if users %}
    <div id="users">
        {{users}}
    </div>
    {% else %}
    <div>NO USER</div>
    {% endif %}
</body>

<script src="{{ url_for('static', path='scripts/user.js') }}"></script>

</html>